@page
@model MarksManagementSystem.Pages.Courses.AddCourseModel
@{
    ViewData["Title"] = "Add Course";
}


<h1>@ViewData["Title"]</h1>
<hr />

<div>
    <div>
        <form method="post">
            <div class="form-group">
                <label class="input-label" asp-for="NewCourseViewModel.Name">Name: </label>
                <input class="input-form" asp-for="NewCourseViewModel.Name" />
                <span class="error-message d-block" asp-validation-for="NewCourse.Name"></span>

                <label class="input-label" asp-for="NewCourseViewModel.Credits">Credits: </label>
                <input class="input-form" asp-for="NewCourseViewModel.Credits" />
                <span class="error-message d-block" asp-validation-for="NewCourseViewModel.Credits"></span>

                <select class="input-form" asp-items="Model.OptionsTutors" asp-for="NewCourseViewModel.UnitLeaderId"></select>
                <span class="error-message d-block" asp-validation-for="NewCourseViewModel.UnitLeaderId"></span>

            </div>

            <button class="add-button">Add Course</button>

        </form>
    </div>
</div>