@page
@model MarksManagementSystem.Pages.Courses.AddCourseModel
@{
    ViewData["Title"] = "Add Course";
}


<h1>@ViewData["Title"]</h1>
<hr />

<div>
    <div>
        <form method="post">
            <div>
                <label class="input-label" asp-for="NewCourseViewModel.CourseName">Course Name: </label>
                <input class="input-form" asp-for="NewCourseViewModel.CourseName" />
                <span class="error-message d-block" asp-validation-for="NewCourse.CourseName"></span>

                <label class="input-label" asp-for="NewCourseViewModel.CourseCredits">Credits: </label>
                <input class="input-form" asp-for="NewCourseViewModel.CourseCredits" value="1"/>
                <span class="error-message d-block" asp-validation-for="NewCourseViewModel.CourseCredits"></span>

                <label class="input-label" asp-for="NewCourseViewModel.UnitLeaderId">Unit Leader: </label>
                <select class="input-form" asp-items="Model.OptionsTutors" asp-for="NewCourseViewModel.UnitLeaderId"></select>
                <span class="error-message d-block" asp-validation-for="NewCourseViewModel.UnitLeaderId"></span>

            </div>

            <button class="btn btn-success">Add Course</button>

        </form>
    </div>
</div>