@page
@model MarksManagementSystem.Pages.Account.ChangePasswordModel
@{
    ViewData["Title"] = "Change Password";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div>
    <div>
        <form method="post">

            <div>
                <label class="input-label mr-5" asp-for="CurrentPassword">Current Password: </label>
                <input class="input-form" asp-for="CurrentPassword" />
                <span class="error-message d-block" asp-validation-for="CurrentPassword"></span>

                <label class="input-label mr-5" asp-for="RepeatedPassword">Repeat Password: </label>
                <input class="input-form" asp-for="RepeatedPassword" />
                <span class="error-message d-block" asp-validation-for="RepeatedPassword"></span>


                <label class="input-label mr-5" asp-for="NewPassword">New Password: </label>
                <input class="input-form" asp-for="NewPassword" />
                <span class="error-message d-block" asp-validation-for="NewPassword"></span>
            </div>

            <button class="btn btn-success">Update Password</button>
            @if (TempData["SuccessMessage"] != null)
            {
                    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
            }
            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }

        </form>
    </div>
</div>

