@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
   @* @{
        if (HttpContext.User.Claims.FirstOrDefault(x => x.Value == "Admin") != null && Model.HasCoursesWithoutHeadTeacher)
        {
            <div class="alert alert-danger">
              <h4>Attention!</h4>
              <p>The following courses do not have a head teacher assigned: </p>
              <ul>
                @foreach (var course in Model.CourseWithoutTeachers)
                {
                     <li>@course.Name</li>   
                }
              </ul>
              <p>It is recommended to assign a head teacher to every course.</p>
            </div>
        }
    }*@
</div>
