@page
@model MarksManagementSystem.Pages.Tutors.AddTutorModel
@{
    ViewData["Title"] = "Add Tutor";
}
<h1>@ViewData["Title"]</h1>
<hr />

<div>
    <div>
        <form method="post">
            <div class="form-group">
                <label class="input-label" asp-for="NewTutor.TutorFirstName">First Name: </label>
                <input class="input-form" asp-for="NewTutor.TutorFirstName" />
                <span class="error-message d-block" asp-validation-for="NewTutor.TutorFirstName"></span>


                <label class="input-label" asp-for="NewTutor.TutorLastName">Last Name: </label>
                <input class="input-form" asp-for="NewTutor.TutorLastName" />               
                <span class="error-message d-block" asp-validation-for="NewTutor.TutorLastName"></span>

                <label class="input-label" asp-for="NewTutor.TutorPassword">Password: </label>
                <input class="input-form" type="password" asp-for="NewTutor.TutorPassword" />
                <span class="error-message d-block" asp-validation-for="NewTutor.TutorPassword"></span>

                <label class="input-label" asp-for="NewTutor.IsAdmin">Is Admin: </label>
                <input class="input-form" type="checkbox" asp-for="NewTutor.IsAdmin" />
            </div>

            <button type="submit" class="btn btn-success">Add Tutor</button>
        </form>
    </div>
</div>