@page
@model MarksManagementSystem.Pages.Tutors.EditTutorModel
@{
    ViewData["Title"] = "Edit Tutor";
}
<h1>@ViewData["Title"]</h1>
<hr />

<div>
    <div>
        <form method="post">
            <div class="form-group">
                <label class="input-label" asp-for="EditTutor.TutorFirstName">First Name: </label>
                <input class="input-form" asp-for="EditTutor.TutorFirstName" />
                <span class="error-message d-block" asp-validation-for="EditTutor.TutorFirstName"></span>


                <label class="input-label" asp-for="EditTutor.TutorLastName">Last Name: </label>
                <input class="input-form" asp-for="EditTutor.TutorLastName" />               
                <span class="error-message d-block" asp-validation-for="EditTutor.TutorLastName"></span>

                <label class="input-label" asp-for="EditTutor.TutorEmail">Email: </label>
                <input class="input-form" type="email" asp-for="EditTutor.TutorEmail" />
                <span class="error-message d-block" asp-validation-for="EditTutor.TutorEmail"></span>

                <input class="input-form" type="hidden" asp-for="EditTutor.TutorPassword" />

                <label class="input-label" asp-for="EditTutor.IsAdmin">Is Admin: </label>
                <input class="input-form" type="checkbox" asp-for="EditTutor.IsAdmin" />
            </div>

            <button type="submit" class="btn btn-success">Save Changes</button>
        </form>
    </div>
</div>