@page
@model MarksManagementSystem.Pages.Students.AddStudentModel
@{
    ViewData["Title"] = "Add Student";
}
<h1>@ViewData["Title"]</h1>
<hr />

<div>
    <div>
        <form method="post">
            <div class="form-group">
                <label class="input-label" asp-for="NewStudent.StudentFirstName">First Name: </label>
                <input class="input-form" asp-for="NewStudent.StudentFirstName" />
                <span class="alert-danger d-block" asp-validation-for="NewStudent.StudentFirstName"></span>

                <label class="input-label" asp-for="NewStudent.StudentLastName">Last Name: </label>
                <input class="input-form" asp-for="NewStudent.StudentLastName" />
                <span class="alert-danger d-block" asp-validation-for="NewStudent.StudentLastName"></span>

                <label class="input-label" asp-for="NewStudent.StudentEmail">Email: </label>
                <input type="email" class="input-form" asp-for="NewStudent.StudentEmail" />
                <span class="alert-danger d-block" asp-validation-for="NewStudent.StudentEmail"></span>

                <label class="input-label" asp-for="NewStudent.StudentPassword">Password: </label>
                <input type="password" class="input-form" asp-for="NewStudent.StudentPassword" />
                <span class="alert-danger d-block" asp-validation-for="NewStudent.StudentPassword"></span>
            </div>

            <button class="btn btn-success">Add Student</button>
        </form>
    </div>
</div>