@page
@model MarksManagementSystem.Pages.Students.AddStudentModel
@{
    ViewData["Title"] = "Add Student";
}
<h1>@ViewData["Title"]</h1>
<hr />

<div>
    <div>
        <form method="post">
            <div>
                <label class="input-label" asp-for="NewStudent.StudentFirstName">First Name: </label>
                <input class="input-form" asp-for="NewStudent.StudentFirstName" />
                <span class="error-message d-block" asp-validation-for="NewStudent.StudentFirstName"></span>

                <label class="input-label" asp-for="NewStudent.StudentLastName">Last Name: </label>
                <input class="input-form" asp-for="NewStudent.StudentLastName" />
                <span class="error-message d-block" asp-validation-for="NewStudent.StudentLastName"></span>

                <label class="input-label" asp-for="NewStudent.StudentDateOfBirth">Date of Birth: </label>
                <input class="input-form" type="date" asp-for="NewStudent.StudentDateOfBirth" value="@DateTime.Now.ToString()" />
                <span class="error-message d-block mt-1" asp-validation-for="NewStudent.StudentDateOfBirth"></span>
            </div>

            <button class="btn btn-success">Add Student</button>
        </form>
    </div>
</div>