html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

main {
  padding-left: 10.5px;
}

.input-label {
    font-size: 22px;
    font-weight: bold;
    width: 140px;
}

.input-form  {
    padding: 5px;
    border-radius: 4px;
}

.error-message {
    color: #d61a54;
    font-weight: 700;
    margin-top: 3px;
    margin-bottom: 15px;
}